
@font-face {
	font-family: 'Conv_arvo-regular';
	src: url('fonts/arvo-regular.eot');
	src: local('☺'), 
		url('fonts/arvo-regular.woff') format('woff'), 
		url('fonts/arvo-regular.ttf') format('truetype'),
		url('fonts/arvo-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_ProximaNova-Bold';
	src: url('fonts/ProximaNova-Bold.eot');
	src: local('☺'), 
		url('fonts/ProximaNova-Bold.woff') format('woff'), 
		url('fonts/ProximaNova-Bold.ttf') format('truetype'), 
		url('fonts/ProximaNova-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_proximanova-semibold';
	src: url('fonts/proximanova-semibold.eot');
	src: local('☺'),
		 url('fonts/proximanova-semibold.woff') format('woff'), 
		 url('fonts/proximanova-semibold.ttf') format('truetype'), 
		 url('fonts/proximanova-semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'Conv_ProximaNova-Regular';
	src: url('fonts/ProximaNova-Regular.eot');
	src: local('☺'), 
		url('fonts/ProximaNova-Regular.woff') format('woff'), 
		url('fonts/ProximaNova-Regular.ttf') format('truetype'), 
		url('fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Conv_proximanova-light';
  src: url('fonts/proximanova-light.eot');
  src: local('☺'), 
    url('fonts/proximanova-light.woff') format('woff'), 
    url('fonts/proximanova-light.ttf') format('truetype'), 
    url('fonts/proximanova-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Arvo-Bold';
  src: url('fonts/Arvo-Bold.eot');
  src: local('☺'), url('fonts/Arvo-Bold.woff') format('woff'), url('fonts/Arvo-Bold.ttf') format('truetype'), url('fonts/Arvo-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


*{
  box-sizing: border-box;
}


.avtorization_cover{
    background-color: rgba(19, 11, 2, 0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
    top: 0px;
    display: none;
}

.transparent_cover
{    
  background-color: transparent;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
    top: 0px;
    display: none;
}

.wrap{
	background-color: #f3eee9;
	overflow:hidden;
  min-width: 960px;
}

body{
  background-color: #f3eee9
}

a{
	text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height:100%;
}

.container_header{
    width: 960px;
    margin: 0 auto;ø
    position: relative;
}

.header{
	height: 90px;
  width: 100%;
  background-color: rgba(243, 238, 233, 1);
}

.header_layout{
  width: 100%;
  height: 90px;
}

.header-fixed{
  position: fixed;
  height: 90px;
  background-color: rgba(243, 238, 233, 0.9);
  z-index: 90;
  top: 0;
  border-bottom: 1px solid #9BA0A7;
}

.header_logo{
	width: 163px;
	height: 46px;
	float:left;
  display: block;
	margin: 20px 0 20px 10px;
}

.header_menu{
	float: left;
	width: 383px;
	margin: 35px 0 0 95px;
}

.header_menu_navigation{
	font-size: 0;
	}

.header_menu_item{
	display: inline-block;
	padding-left: 29px;
	font-size: 16px;
	line-height: 20px;
	position: relative;
}



.header_menu_item_link:hover{
	color: #fba927;
}

.header_menu_item_hover{
	display: block;
	position: absolute;
	top: -54px;
	left: 35%;
	right: 0;
	bottom: 0;
  visibility: hidden;
  opacity: 0;
}

.header_menu_item:hover .header_menu_item_hover{
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease;
  -webkit-transition: 0.5s linear;
  top: -35px;
}

.header_menu_item-doc .header_menu_item_hover,{
  left: 53px;
}


.header_menu_item-more .header_menu_item_hover{
  left: 23px;
}

.header_menu_item_link{
	color: #121230;
	font-family: 'Conv_ProximaNova-Regular';
	cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.header_menu_more{
	display: none;
  width: 170px;
  position: absolute;
  background-color: #146E89;
  -webkit-border-radius: 10px;
  -moz-border-radius: 3px;
          border-radius: 10px;
  left: -40px;
  top: 30px;
  z-index: 999;
}

.header_menu_item_link_bird{

  margin: 0 0 1.5px 1.5px;
  transform: rotate(180deg);

}

.header_menu_item_link_bird_rotate
{
    transform: rotate(0deg);
}

.header_menu_more_triangle{
  position: absolute;
  top: -13px;
  left: 70px;
}

.header_menu_more_wrapper{
  list-style-type: none;
  width: 170px;
}


.header_menu_more_item:hover{
  background-color: #fba927;
  cursor: pointer;
}

.header_menu_more_item:first-child{
  margin-top: 15px;
}

.header_menu_more_item:last-child
{
  margin-bottom: 15px;
}

.header_menu_more_item_link{
  color: #FFF;
  text-decoration: none;
  font-family: 'Conv_ProximaNova-Regular';
  font-size: 16px;
  padding-left: 20px;
  line-height: 32px;
}





.header_right_block{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  left: 78px;
  top: 29px;
}

.header_right_block_item{
  float: left;          
}

.header_round_button {
  width: 120px;
  height: 33px;
  margin-right: 20px;
  border: 2px solid #18708b;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
          border-radius: 20px;
  display: block;
  text-align: center;
  font-family: 'Conv_proximanova-semibold';
  line-height: 29px;
}

.header_right_button{
	font-family: 'Conv_proximanova-semibold';
  line-height: 32px;
}


.header_round_button,
.header_right_button{
  display: inline-block;
  text-decoration: none;
  color: #00556e;
  margin-right: 25px;
  z-index: 1000;
  position: relative;
  cursor: pointer;
   -webkit-font-smoothing: antialiased;
}

.header_round_button:hover{
    background-color: #FAAB2D;
    border: 2px solid #FAAB2D;
    color: #FFF;
}

.header_right_button:hover{
  color: #FAAB2D;
}

.header_round_button_opened, .header_round_button_active{
	background-color: #FAAB2D;
	border: 2px solid #FAAB2D;
  color: #FFF;
}

.header_right_button_opened, .header_right_button_active{
	color: #FAAB2D;
}




.login-content {
  display: none;
  position: absolute;
  top: 56px;
  right: 87px;
  z-index: 999;     
  padding: 15px;
  width: 286px;  
  background: #F3EEE9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
          border-radius: 10px;
}

.login-content-triangle{
  position: absolute;
  top: -13px;
  right: 33px;
}

.login-content_title{
  font-family: 'Conv_arvo-regular';
  font-size: 24px;  
  margin: 10px 0 20px 10px;
}

.login-content_input{
  width: 236px;
  height: 40px;
  margin: 0 auto;
  background: #FFF;
  margin-bottom: 15px;
  border: none;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
          border-radius: 3px;
  display: block;
  font-size: 16px;
  font-family: 'Conv_ProximaNova-Regular';
  padding-left: 15px;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(214,213,211,1);
  -moz-box-shadow: inset 1px 1px 2px 0px rgba(214,213,211,1);
  box-shadow: inset 1px 1px 2px 0px rgba(214,213,211,1);
  }

input[type="checkbox"]{
 display: none;
 }


 input[type="checkbox"] + label{
  margin-left: 10px;
 }

input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url("pics/autorization-checkbox.png") no-repeat;
}

input[type="checkbox"]:checked + label span {
   background: url("pics/autorization-checkbox-chkd.png") no-repeat;
} 

.checkbox-autorization{
    position: relative;
    top: -16px;
    left: 40px;
    font-size: 14px;
    color: #9ba0a7;
    cursor: pointer;
    font-family: 'Conv_ProximaNova-Regular';
    -webkit-font-smoothing: antialiased;
}



.login-content_button{
  width: 115px;
  height: 40px;
  background-color: #146E89;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  display: block;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  margin: 0 0 23px 10px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
    box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
  font-family: 'Conv_proximanova-semibold';
}

.login-content_forgot{
  font-family: 'Conv_ProximaNova-Regular';
  margin-left: 10px;
}

.login-content_forgot_pass_link{
  color: #146E89;
  font-size: 14px;
  text-decoration: none;
}





.authorization {
  display: none;
  position: absolute;
  top: 56px;
  z-index: 999;     
  padding: 15px;
  right: 108px;
  width: 286px;  
  background: #F3EEE9;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.authorization-triangle{
  position: absolute;
  top: -12px;
  left: 45%;
}

.authorization_title{
  width: 145px;
  font-family: 'Conv_arvo-regular';
  font-size: 24px;  
  line-height: 28px;
  margin: 0 0 20px 10px;
}

.authorization_title_bold{
  font-family: 'Conv_Arvo-Bold';
}

.authorization_input{
  width: 240px;
  height: 40px;
  margin: 0 auto;
  background: #FFF;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  display: block;
  border: none;
  font-size: 16px;
  font-family: 'Conv_ProximaNova-Regular';
  padding-left: 15px;
  position: relative;
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(214,213,211,1);
  -moz-box-shadow: inset 1px 1px 1px 0px rgba(214,213,211,1);
  box-shadow: inset 1px 1px 1px 0px rgba(214,213,211,1);
}

.authorization_input_password{
  position: absolute;
  left: 222px;
  top: 190px;
}

.authorization_input_password-eye{
  display: block;
  background-image: url("pics/password-eye.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 11px;
}

.authorization_button{
  width: 180px;
  height: 40px;
  background-color: #146E89;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  display: block;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  margin: 23px 0 23px 10px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
  box-shadow: 0px 2px 0px 0px rgba(0,85,110,1); 
  font-size: 16px;
  font-family: 'Conv_proximanova-semibold';
}

.authorization_demo_acc{
  width: 160px;
  font-family: 'Conv_ProximaNova-Regular';
  margin-left: 10px;
  font-size: 14px;
  line-height: 22px;
}

.authorization_demo_acc_text{
  color: #9BA0A7;
}

.authorization_demo_acc_link{
  color: #146E89;
  text-decoration: none;
}

.authorization_close{
	position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.header-sandwich{
  display: none;
}









/*main-page*/


.main_top_banner{
  background-image: url("pics/main-banner-bg.png"); 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: bottom;
  width: 100%;
  color: #FFF;
  height: 588px;
  z-index: 5;
}

.main_top_banner_info{
  width: 450px;
  background-image: url("pics/main-banner-info-bg.png");
  background-position: 150px 30px;
  background-repeat: no-repeat;
  position: absolute;
  left: 27px;
  -webkit-font-smoothing: antialiased;
}


.main_top_banner_header1,
.main_top_banner_header3{
  font-size: 76px;
  font-family: 'Conv_arvo-regular';
}

.main_top_banner_header1{
  margin-top: 50px;

}

.main_top_banner_header2{
  font-size: 52px;
  font-family: 'Conv_arvo-regular';
  margin-bottom: 10px;
}

.main_top_banner_header3{
  margin-bottom: 40px;
}

.main_top_banner_button_link,
.main_top_banner_link{
  color: #FFF;
}

.main_top_banner_icon{
  float: left;
}


.main_top_banner_link_wrapper{
    float: left;
    margin: 13px 0 0 -4px;    
    background-image: url("pics/main-banner-eye.png");
    background-size: 25px 12px;
    background-repeat: no-repeat;
    background-position: 0px 5px;
}


.main_top_banner_link{
  font-size: 16px;
  line-height: 20px;
  font-family: 'Conv_ProximaNova-Regular';
  display: block;
  border-bottom: 1px solid #7f766e;
  margin-left: 29px;
}

.main_top_banner_link_wrapper:hover{
   background-image: url("pics/main-banner-eye-yellow.png");
}

.main_top_banner_link_wrapper:hover .main_top_banner_link{
  color: #fba927;
  border-bottom: 1px solid #fba927;
}

.main_top_banner_link_with_icon{
  position: relative;
  top: 9px;
  left: -30px;
}

.main_top_banner_text{
  font-family: 'Conv_ProximaNova-Bold';
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 20px;
}

.main_top_banner_button{
  float: left;
  margin-right: 40px;
  width: 188px;
  height: 50px;
  background: #146e89;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  position: relative;
  font-family: 'Conv_proximanova-semibold';
    font-size: 20px;
    line-height: 50px;
    color: #FFF;
    text-align: center;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
}

.button_hover:hover{
  background: #FBA927;
  color: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button_hover{
    -webkit-font-smoothing: antialiased;
}

.main_top_banner_button:hover,
.customized_checkout_info_button:hover,
.features_top_banner_button:hover,
.pricing_information_right_button:hover,
.login-content_button:hover,
.authorization_button:hover,
.performance_questions_right_button:hover,
.contact_form_button:hover{
  -webkit-box-shadow: 0px 2px 0px 0px rgba(251,169,39,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(251,169,39,1);
box-shadow: 0px 2px 0px 0px rgba(251,169,39,1);
}

.payment_info_button:hover,
.payment_tools_button:hover{
  line-height: 40px;
}

.system_performance_button:hover{
  line-height: 43px;
}


.main_top_banner_button_link{
  font-family: 'Conv_proximanova-semibold';
  position: absolute;
    top: 13px;
    left: 50px;
    font-size: 20px;
    line-height: 22px;
}

.main_top_banner_ninja{
  background-image: url(pics/main-banner-pic.png);
  background-repeat: no-repeat;
  width: 550px;
  height: 440px;
  position: absolute;
  top: 30px;
  right: 0;
}







.payment{
  padding-top: 460px;
}

.payment_services{
  font-size: 0;
  width: 450px;
  position: absolute;
  top: 70px;
}

.payment_services_animated{
    -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  will-change: transform;
  animation-play-state: paused;
  -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.fadeInRightTools{
   -webkit-animation-name: fadeInRighrTools;
  animation-name: fadeInRightTools;
}

@-webkit-keyframes fadeInLeft {
  1%{
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }

  2% {
  opacity: 0;
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  }

  100% {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  }

  100% {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  }
}

@-webkit-keyframes fadeInRightTools {
  1%{
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }

  2% {
  opacity: 0;
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  }

  100% {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
}

@keyframes fadeInRightTools {
  0% {
  opacity: 0;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  }

  100% {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  }
}

.payment_services_item{
  display: inline-block;
  font-size: 15px;
  width: 150px;
  color: #121230;
  background-repeat: no-repeat;
  font-family: 'Conv_ProximaNova-Regular';
     -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
     -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
}

.payment_services_item:first-child{
  background-image: url("pics/credit-cards-icon.png");
  background-position: 17px 5px;
  margin-bottom: 70px;
}

.payment_services_item:nth-child(2){
  background-image: url("pics/paypal-icon.png");
  background-position: 5px 15px;
}

.payment_services_item:nth-child(3){
  background-image: url("pics/mobilepaym-icon.png");
  background-position: 25px 5px;
}

.payment_services_item:nth-child(4){
  background-image: url("pics/bitcoin-icon.png");
  background-position: 15px 5px;
}

.payment_services_item:nth-child(5){
  background-image: url("pics/offlinepay-icon.png");
  background-position: 30px 15px;
}

.payment_services_item:last-child{
  position: relative;
}

.payment_services_item:last-child .payment_services_item_text{
  position: absolute;
  width: 102px;
  top: -97px;
  left: 25px;
  margin-top: 0;
}


.payment_services_item_text{
  margin-top: 110px;
  text-align: center;
  font-size: 18px;
    line-height: 20px;
    color: #121230;
}


.payment_info_button{
  border: 2px solid #18708B;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  width: 155px;
  height: 40px;
  display: block;
  color: #18708B;
  font-size: 18px;
  line-height: 37px;
  font-family: 'Conv_proximanova-semibold';
  text-align: center;
}


.payment_info{
  width: 330px;
  position: absolute;
  left: 550px;
  top: 70px;
}

.payment_info_text{
  font-family: 'Conv_ProximaNova-Regular';
  margin: 15px 0 30px 0;
  color: #9BA0A7;
  font-size: 16px;
  line-height: 24px;

}

.payment_border_decoration{
  background-image: url("pics/main-arc.png");
  width: 45px;
  height: 385px;
  position: absolute;
  left: 450px;
  top: 40px;
}

.payment_info_title{
  font-family: 'Conv_arvo-regular';
  font-size: 39px;
  line-height: 42px;
  width: 260px;
  color: #151532;
}


.payment_info_button_link{
  color: #18708B;
  font-family: 'Conv_proximanova-semibold';

}







.payment_tools{
  background-image: url(pics/payment-main-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  color: #FFF;
}

.payment_tools_header{
  font-size: 40px;
  margin: 140px auto 0;
  font-family: 'Conv_arvo-regular';
  text-align: center;
}

.payment_all_tools{
  font-size: 0;
  width: 755px;
  margin: 0 auto;
}

.payment_tools_item{
  font-size: 15px;
  display: inline-block;
  width: 33%;
  padding: 40px 0;
  font-family: 'Conv_proximanova-semibold';
  background-repeat: no-repeat;
  
}

.payment_tools_item:first-child{
  background-image: url("pics/main-chrckout.png");
  background-position: 12px 4px;
  margin-top: 60px; 
}

.payment_tools_item:nth-child(2){
  background-image: url("pics/main-analytics.png");
  background-position: 35px 4px;
}

.payment_tools_item:nth-child(3){
  background-image: url("pics/marketing.png");
  background-position: 21px 17px;
}


.payment_tools_item:nth-child(4){
  background-image: url("pics/main-subscriptions.png");
  background-position: 4px 4px;
  margin-top: 80px;
}

.payment_tools_item:nth-child(5){
  background-image: url("pics/main-inxoicing.png");
  background-position: 31px 20px ;
}

.payment_tools_item:nth-child(6){
  background-image: url("pics/main-accounting.png");
  background-position: px 4px;
}

@-webkit-keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  }

  100% {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  }

  100% {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.payment_tools_animated{
    -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  will-change: transform;
  animation-play-state: paused;
  -webkit-animation-duration: 1s;
    animation-duration: 1s;
}


.payment_tools_item_title{
  margin-left: 100px;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
}

.payment_tools_item:first-child .payment_tools_item_title,
.payment_tools_item:nth-child(4) .payment_tools_item_title{
  text-align: left;
}



.payment_tools_item_link,
.customized_checkout_info_button_link{
  color: #000;
}

.payment_tools_button{
  margin: 60px auto 85px;
  width: 175px;
  height: 40px;
  border: 2px solid #FFF;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 37px;
  font-family: 'Conv_proximanova-semibold';
  text-align: center;
}










.customized_checkout{
  margin-top: 25px;
}

.customized_checkout_title{
  font-size: 40px;
  text-align: center;
  font-family: 'Conv_arvo-regular';
}

.customized_checkout_picture_wrap{
  background-repeat: no-repeat;
  width: 590px;
  float: left;
  margin: 30px 0 0 20px;
  position: relative;
}

.customized_checkout_picture{
  width: 100%;
}

.customized_checkout_picture_img{
  position: absolute;
  left: 233px;
  top: 100px;
}

.customized_checkout_info{
  width: 263px;
  float: left;
  margin: 70px 0 0 0;
}

.customized_checkout_info_text{
  font-family: 'Conv_ProximaNova-Regular';
  color: #B5B7BA;
  font-size: 16px;
    line-height: 24px;
}


.customized_checkout_info_button{
  margin-top: 20px;
  width: 185px;
  height: 50px;
  background: #146e89;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  display: block;
  font-family: 'Conv_proximanova-semibold';
    font-size: 20px;
    line-height: 50px;
    color: #FFF;
    text-align: center;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
  }





/*features-page*/

.features_top_banner{
  background-image: url("pics/bg-all-in-one.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  height: 613px;
}

.features_top_banner_ninja_wrapper{
  width: 100%;
  height: 430px;
  overflow: hidden;
}

.features_top_banner_ninja{
  background-image: url("pics/features-banner-ninja.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: relative;
  top: 0px;
  width: 800px;
  height: 449px;
  margin: 0 auto;
}

.features_top_banner_ninja:hover{
  animation: ninja 1s linear infinite;
    -webkit-animation: ninja 1s linear infinite;
    -moz-animation: ninja 1s linear infinite;
  animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
}

.features_ninja_movetouch{
  animation: ninja 1s linear infinite;
    -webkit-animation: ninja 1s linear infinite;
    -moz-animation: ninja 1s linear infinite;
  animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
}

@keyframes ninja{
  from { top: 0px;}
    to   { top: 10px; }
}

@-webkit-keyframes ninja{
  from { top: 0px;}
    to   { top: 10px; }
}

.features_top_banner_title{
  font-family: 'Conv_arvo-regular';
  color: white;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.features_top_banner_button{
  width: 195px;
  height: 48px;
  background-color: #146e89;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  margin: 30px auto 5px;
  display: block;
  color:#fff;
  font-family: 'Conv_proximanova-semibold';
  font-size: 20px;
  line-height: 48px;
  text-align: center;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
}


.payment_methods_title{
  color: #121230;
  font-family: 'Conv_arvo-regular';
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin: 75px 0 70px 0;
}

.payment_methods_wrap{
  font-size: 0;
}

.payment_methods_item{
  width: 41%;
  display: inline-block;
  line-height: 24px;
  margin: 0 10px 30px 60px;
    vertical-align: middle;
}

.payment_methods_item:nth-child(3),
.payment_methods_item:nth-child(4){
  margin: 115px 0 70px 60px;
}

.payment_methods_item:nth-child(3){
  margin-right: 10px;
}


.payment_methods_item_inline{
  display: inline-block;
  vertical-align: top;
}

.payment_methods_item_info{
  width: 256px;
}

.payment_methods_item_img{
  margin-right: 20px;
}

.payment_methods_item_title{
  font-family: 'Conv_ProximaNova-Bold';
  color: #121230;
  font-size: 20px;
}

.payment_methods_item_text{
  color: #9ba0a7;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  font-family: 'Conv_ProximaNova-Regular';
}






.other_payment{
  background-image: url("pics/other-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
}

.other_payment_title{
  font-size: 40px;
  color: #FFF;
  font-family: 'Conv_arvo-regular';
  text-align: center;
  margin: 50px 0;
}

.other_payment_wrap{
  font-size: 0;
  margin-left: 15px;
}

.other_payment_item{
  width: 29%;
  color: #FFF;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 80px;
  margin-right: 60px;
}

.other_payment_icon1{
  background-image: url("pics/other-method1.png");
    background-position: 0 0;
}

.other_payment_icon2{
  background-image: url("pics/other-method2.png");
  background-position: 0 10px;
}

.other_payment_icon3{
  background-image: url("pics/other-method3.png");
  background-position: 0 10px;
  margin-right: 0;
}

.other_payment_item_title{
  font-size: 20px;
  margin-top: 90px;
  font-family: 'Conv_ProximaNova-Bold';
  line-height: 24px;

}

.other_payment_text{
  font-size: 16px;
  font-family: 'Conv_ProximaNova-Regular';
  line-height: 24px;

}






.tools_title{
  color: #121230;
  font-size: 40px;
  font-family: 'Conv_arvo-regular';
  text-align: center;
  margin: 60px 0 50px;
}

.tools_item_wrap{
  font-size: 0;
  margin-left: 10px;
}

.tools_item_wrap:last-child{
  margin: 76px 0 71px 10px;
}

.tools_item{
  width: 29%;
  display: inline-block;
  vertical-align: top;
  margin-right: 6%;
}

.tools_item_mob_arr{
  display: none;
}

.tools_item_text_more{
  font-family: 'Conv_proximanova-semibold';
  color: #9BA0A7;
}

.tools_item:last-child{
  margin-right: 0;
}

.tools_item_title{
  line-height: 24px;
  color: #121230;
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Conv_ProximaNova-Bold';
}

.tools_item_text{
  line-height: 24px;
  color: #9ba0a7;
  font-size: 16px;
  width: 100%;
  letter-spacing: 0.005em;
  font-family: 'Conv_ProximaNova-Regular';
}




.security{
  background-image: url("pics/bg-all-in-one.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
}

.security_title{
  color: #fff;
  font-size: 40px;
  font-family: 'Conv_arvo-regular';
  text-align: center;
  margin: 60px 0 0;
}

.security_img_ninja{
  background-image: url("pics/security-ninja.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  width: 253px;
  height: 361px;
  float:left;
  margin:0 0 30px 80px;
}

.security{
  position: relative;
}

.security_info{
  position: absolute;
  top: 170px;
  left: 440px;
}

.security_info_item{
  color: #FFF;
  background-repeat: no-repeat;
  background-position: center center;
}

.security_info_item:first-child{
  margin-bottom: 50px;
}

.security_info_item_title{
  line-height: 24px;
  font-size: 20px;
  font-family: 'Conv_ProximaNova-Bold';
}

.security_info_item_text{
  line-height: 24px;
  font-size: 16px;
  font-family: 'Conv_ProximaNova-Regular';
}

.security_info_item_text,
.security_info_item_title{
  margin-left: 80px;
  width: 340px;
}



.security_item_icon1{
  background-image: url("pics/security-icon1.png");
  background-position: 5px 0;
}

.security_item_icon2{
  background-image: url("pics/security-icon2.png");
  background-position: 0 0;
}

.system_performance_title{
  color: #121230;
  font-size: 40px;
  font-family: 'Conv_arvo-regular';
  text-align: center;
  margin: 60px 0 50px;
}

.system_performance_info{
  float: left;
  width: 397px;
    margin-left: 35px;
}

.system_performance_info_text{
  font-family: 'Conv_ProximaNova-Regular';
  color: #878787;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
}

.system_performance_button{
  width: 130px;
  height: 40px;
  margin-right: 20px;
  border: 2px solid #18708b;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #00556E;
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 38px;
  font-family: 'Conv_proximanova-semibold';
}


.system_performance_img{
  background-image: url("pics/system-performance.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  float: left;
  width: 390px;
  height: 251px;
  margin: 0 0 80px 100px;
}

.system_performance_questions{
  width: 99%;
  height: 140px;
  border: 2px dashed #dfdad5;
  -webkit-border-radius: 80px;
          border-radius: 80px;
  clear: both;
  margin-bottom: 30px;
  position: relative;
}

.performance_questions_left{
  border-right: 1px solid #cdcac6;
  width: 70%;
}

.performance_questions_left_img{
  margin: 25px 20px 25px 45px;
}

.system_performance_questions_vline{
  height: 110px;
  width: 1px;
  position: absolute;
  top: 15px;
  left: 625px;
  background-color: #cdcac6;
}

.system_performance_questions_inline{
  display: inline-block;
  vertical-align: middle;
}

.performance_questions_left_title{
  color: #121230;
  font-family: 'Conv_arvo-regular';
  font-size: 24px;
  line-height: 20px;
}

.performance_questions_left_text{
  font-family: 'Conv_ProximaNova-Regular';
  font-size: 16px;
  line-height: 24px;
  color: #878787;
  padding-top: 5px;
}

.performance_questions_left_text_span{
  color: #36383b;
  border-bottom: 1px solid #cfcbc7;
}

.performance_questions_right{
  float: right;
}

.performance_questions_right_button{
  width: 205px;
  height: 50px;
  background-color: #146e89;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #fff;
  display: block;
  position: absolute;
  top: 47px;
  left: 675px;
  font-family: 'Conv_proximanova-semibold';
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
   -webkit-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
  }










/*pricing-page*/
.pricing_top_banner{
  background-image: url("pics/pricing-banner-bg.png");
  color: #FFF;
}

.pricing_top_banner_title{
  font-size: 60px;
  text-align: center;
  font-family: 'Conv_arvo-regular';
  margin-top: 51px;
}

.pricing_top_banner_wrap{
  font-size: 0;
}

.pricing_top_banner_cards{
  background-image: url("pics/pricing-top-banner.png");
  background-repeat: no-repeat;
  background-position: 185px 115px;
  -webkit-font-smoothing: antialiased;
}


.pricing_top_banner_item{
  font-size: 16px;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 60px 0 0 80px;
  
}

.pricing_top_banner_item_title{
  font-family: 'Conv_ProximaNova-Bold';
  font-size: 20px;
    line-height: 24px;
}

.pricing_top_banner_item:nth-child(odd){
  width: 310px;
}


.pricing_top_banner_item:nth-child(even)
{
  width: 410px;
}

.pricing_top_banner_item_text{
  font-family: 'Conv_arvo-regular';
  font-size: 16px;
  line-height: 24px;  
}

.pricing_top_banner_item_price{
  font-family: 'Conv_proximanova-light';
  font-size: 50px;
}

.pricing_top_banner_info{
  margin: 60px 0 60px 80px;
  font-family: 'Conv_ProximaNova-Regular';
  font-style: italic;
  width: 750px;
  font-size: 18px;
  line-height: 24px;
   -webkit-font-smoothing: antialiased;
  letter-spacing: 0.003972em;
}

.pricing_top_banner_item_price_span{
  font-size: 18px;
  line-height: 24px;
  display: block;
  float: right;
    width: 220px;
}






.pricing_succesful_title{
  font-family: 'Conv_arvo-regular';
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  color: #151533;
}

.pricing_succesful_wrap{
  width: 100%;
  font-size: 0;
  margin: 50px 30px 50px 30px;
}

.pricing_succesful_item{
  background-repeat: no-repeat;
  height: 80px;
  display: inline-block;
}

.pricing_succesful_item_title{
  font-family: 'Conv_ProximaNova-Regular';
  font-size: 16px;
  line-height: 24px;
  color: #878787;
  margin-top: 70px;
  text-align: center;
}

.pricing_succesful_item:nth-child(1){
  width: 15%;
  background-image: url("pics/succes-icon1.png");
  background-position: 40px 0;
}

.pricing_succesful_item:nth-child(2){
  width: 15%;
  background-image: url("pics/succes-icon2.png");
  background-position: 35px 0;
}

.pricing_succesful_item:nth-child(3){
  width: 22%;
  background-image: url("pics/succes-icon3.png");
  background-position: 55px 0;
}

.pricing_succesful_item:nth-child(4){
  width: 22%;
  background-image: url("pics/succes-ion4.png");
  background-position: 47px 0;
}

.pricing_succesful_item:nth-child(5){
  width: 20%;
  background-image: url("pics/succes-icon5.png");
  background-position: 55px 0;
}

.pricing_succesful{
  width: 100%;
  border-bottom: 1px solid #E1DBD5;
}


.pricing_succesful_info_wrapper{
  width: 85%;
  margin: 0 auto;
  font-size: 0;
}

.pricing_succesful_info_item{
  width: 45%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
}

.pricing_succesful_info_item:last-child{
  margin-bottom: 70px;
}

.pricing_succesful_info_item:nth-child(even){
  margin-left: 80px;
}


.pricing_succesful_info_item_title{
  font-family: 'Conv_ProximaNova-Bold';
  color: #121230;
  font-size: 20px;
  line-height: 24px;
}

.pricing_succesful_info_item_text{
  font-family: 'Conv_ProximaNova-Regular';
  color: #878787;
  font-size: 16px;
  line-height: 24px;
}

.pricing_succesful_info_item_link{
  color: #146E89;
}




.pricing_information{
  width: 780px;
  height: 140px;
  border: 2px dashed #dfdad5;
  -webkit-border-radius: 80px;
          border-radius: 80px;
  clear: both;
  margin: 70px auto 30px;
  position: relative;
}

.pricing_information_left{
  border-right: 1px solid #cdcac6;
  width: 70%;
}

.pricing_information_left_img{
  margin: 25px 20px 25px 45px;
}


.pricing_information_inline{
  display: inline-block;
  vertical-align: middle;
}

.pricing_information_left_title{
  color: #121230;
  font-family: 'Conv_arvo-regular';
  font-size: 24px;
  line-height: 20px;
}

.pricing_information_left_text{
  font-family: 'Conv_ProximaNova-Regular';
  font-size: 16px;
  line-height: 24px;
  color: #878787;
  padding-top: 5px;
}

.pricing_information_left_text_span{
  color: #36383b;
  border-bottom: 1px solid #cfcbc7;
}

.pricing_information_right{
  float: right;
}

.pricing_information_right_button{
  width: 205px;
  height: 50px;
  background-color: #146e89;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #fff;
  display: block;
  position: absolute;
  top: 47px;
  left: 525px;
  font-family: 'Conv_proximanova-semibold';
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
}

.pricing_information_vline{
  height: 110px;
  width: 1px;
  position: absolute;
  top: 15px;
  left: 465px;
  background-color: #cdcac6;
}


.contact_us_banner{
  background-image: url("pics/contact-banner-bg.png");
  color:#fff;
}

.contact_us_banner_header{
    font-family: 'Conv_arvo-regular';
    font-size: 60px;
    text-align: center;
    padding: 58px 0 68px;
}

.contact_us_banner_title_title{
    font-family: 'Conv_arvo-regular';
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.05em;
}

.contact_us_banner_networks{
  font-size: 0;
  padding: 38px 0 45px;
  text-align: center;
}

.contact_us_banner_networks_item{
  width: 75px;
  height: 65px;
  display: inline-block;
  background-image: url("pics/prite-networks.png");
  background-repeat: no-repeat;
  margin-left: 50px;
}

.contact_us_banner_networks_item:first-child{
  background-position: 1px 1px;
  margin-left: 0;
}

.contact_us_banner_networks_item:nth-child(2){
    background-position: -105px 1px;
}

.contact_us_banner_networks_item:nth-child(3){
    background-position: -210px 1px;
}

.contact_us_banner_networks_item:last-child{
    background-position: -316px 1px;
}

.contact_us_mail_title{
  font-family: 'Conv_arvo-regular';
  font-size: 30px;
  text-align: center;
  margin: 45px 0 40px;
}

.contact_us_mail_types{
  font-size: 0;
  width: 930px;
  margin: 0 auto;
}

.contact_us_mail_types_item{
  font-size: 18px;
  font-family: 'Conv_ProximaNova-Regular';
  display: inline-block;
   background-repeat: no-repeat;
  vertical-align: top;
  text-align: center;
  padding-left: 36px;
}

.contact_us_mail_types_item_title{
  margin-top: 72px;
}

.contact_us_mail_types_item_link{
  font-size: 16px;
  color: #439aac;
  margin: 10px 0 40px;
  display: block;
}

.contact_us_mail_types_item_link:hover,
.main-press-logo_text_link:hover,
.press_contact_us_link:hover{
  color: #FAAB2D;
}


.contact_us_mail_types_item:first-child{
  background-image: url("pics/contact-icon1.png");
  background-position: 55px 1px;
  width: 180px;
  padding-left: 0;
}

.contact_us_mail_types_item:nth-child(2){
  background-image: url("pics/contact-icon2.png");
  background-position: 105px 1px;
  width: 256px;
}

.contact_us_mail_types_item:nth-child(3){
  background-image: url("pics/contact-icon3.png");
  background-position: 85px 1px;
  width: 206px;
}

.contact_us_mail_types_item:last-child{
   background-image: url("pics/contact-icon4.png");
   background-position: 110px 1px;
   width: 276px;
}

.contact_form_wrapper{
  margin: 0 auto;
  padding-top: 27px;
  width: 615px;
  height: 285px;
  background-color: #ECE5DD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
          border-radius: 10px;
}

.contact_form_title{
  margin: 0 auto 27px;
  font-size: 30px;
  font-family: 'Conv_arvo-regular';
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.contact_form_box{
  width: 520px;
  font-size: 0;
  margin: 0 auto;
}

.contact_form_item{
  display: inline-block;
  margin-bottom: 25px;
}

.contact_form_input{
  width: 245px;
  height: 40px;
  border: none;
  color: #A6A6AC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: -2px 0px 0px 0px rgba(214,213,211,1);
  -moz-box-shadow: -2px 0px 0px 0px rgba(214,213,211,1);
  box-shadow: -2px 0px 0px 0px rgba(214,213,211,1);
  font-family: 'Conv_ProximaNova-Regular';
  font-size: 16px;
  padding-left: 15px;
}



.contact_form_item:last-child,
.contact_form_item:nth-child(2){
  margin-left: 30px;
}

.contact_form_button{
  width: 174px;
  height: 40px;
  display: block;
  margin: 0 auto;
  background: #146e89;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
          border-radius: 30px;
  position: relative;
  font-family: 'Conv_proximanova-semibold';
    font-size: 20px;
    line-height: 40px;
    color: #FFF;
    text-align: center;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
box-shadow: 0px 2px 0px 0px rgba(0,85,110,1);
}














.main-press{
  margin-bottom: 35px;
}

.main_press_line{
  width: 100%;
  height: 2px;
  background-color: #D0C9C1;
}

.press-title{
  color: #3D2915;
  font-family: 'Conv_arvo-regular';
  font-size: 60px;
  text-align: center;
  padding: 60px 0 60px;
}

.press-title-text{
   font-family: 'Conv_arvo-regular';
    font-size: 30px;
    text-align: center;
    color: #121230;
}

.main-press-logo{
  margin: 32px auto 42px;
  width: 653px;
  
}

.main-press-logo-item{
  width: 310px;
  height: 180px;
  display: inline-block;
     -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
            border-radius: 10px;
  box-sizing: border-box;
  vertical-align: top;
}

.main-press-logo-item:first-child{
  border: 2px solid #D0C9C1;
}

.main-press-logo-item:last-child{
  background-color: #3D2915;
  margin-left: 28px;
}

.main-press-logo_img{
  display: block;
  margin: 35px auto 25px;
}

.main-press-logo_text{
  width: 105px;
  margin: 0 auto;
  background-image: url("pics/press-download.png");
  background-repeat: no-repeat;
  background-position: 1px 1px;
  height: 25px;
}

.main-press-logo_text_link{
  color: #4299ac;
  font-size: 16px;
  font-family: 'Conv_ProximaNova-Regular';
  padding-left: 33px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
}

.press_contact_us{
  width: 650px;
  margin: 0 auto;
  border-top: 2px solid #D0C9C1;
  border-bottom: 2px solid #D0C9C1;
}

.press_contact_us_title{
     font-family: 'Conv_arvo-regular';
    font-size: 30px;
    width: 210px;
    margin: 25px auto 15px;
    color: #121230;
    text-align: right;
    background-image: url("pics/press-mail.png");
    background-repeat: no-repeat;
    background-position: 3px 6px;
}

.press_contact_us_text{
   font-size: 16px;
  font-family: 'Conv_ProximaNova-Regular';
  line-height: 24px;
  text-align: center;
  color: #B5B7BA;
}

.press_contact_us_link{
  font-size: 16px;
  font-family: 'Conv_ProximaNova-Regular';
  line-height: 30px;
  text-align: center;  
  color: #4299ac;
  display: block; 
  padding-bottom: 25px;
}








.footer{
  width: 100%;
  background-image: url("pics/footer-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.footer-fix{
	position: absolute;
	bottom: 0;
}

.footer_menu{
  text-align: center;
  padding: 145px 0 60px;
}

.footer_menu_item{
  display: inline-block;
  width: 75px;
  text-align: center;
}

.footer_menu_item_link{
  color: #171734;
  font-family: 'Conv_ProximaNova-Regular';
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

.footer_menu_item_link:hover{
  color: #166F8A;
}

@media screen and (min-width:1440px){
  .footer{
    background-image: url("pics/footer-bg-wide.png");
  }

  .footer_menu {
    padding: 185px 0 60px;
  }

  .payment_tools{
    background-image: url("pics/main-red-wide0bg.png");
    background-size: 100% 700px;
  }

  .payment_tools_header {
    margin: 161px auto 0;
  }
}


  